pipeline/033ppl_copy_IfExists_Fail_IfDoesnt.json
{
	"name": "033ppl_copy_IfExists_Fail_IfDoesnt",
	"properties": {
		"description": "Acuerdate de truncar la tabla para evitar duplicados.\nActividad Fail en actividades IF para los casos False",
		"activities": [
			{
				"name": "Check File Existence",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_OrdersCSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check File Existence",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check File Existence').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail if does not exist",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File does NOT exist",
								"errorCode": "10001"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE dbo.Orders",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OrdersCSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ToSQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-21T17:28:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}