pipeline/043_0ppl_Copy_CustomMappingsSingleTable.json
{
	"name": "043_0ppl_Copy_CustomMappingsSingleTable",
	"properties": {
		"description": "Revisa la creacion del sp detenidamente.\nAgregar esquema dinamicamente y elegir First Row.\n",
		"activities": [
			{
				"name": "Get ColumnMappings",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetColumnMapping]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SP",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get ColumnMappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.Orders",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('Get ColumnMappings').output.firstRow.ColumnMapping)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_CSVNH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ToSQL",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-24T16:57:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}