pipeline/044_ppl_Copy_CustomMappingMultipleTable.json
{
	"name": "044_ppl_Copy_CustomMappingMultipleTable",
	"properties": {
		"activities": [
			{
				"name": "GetTableInfo",
				"description": "Se usa la query para llamar la tabla tblMappings",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TableName, DataLakePath, DataFileName \nFROM tblMappings\nWHERE Isactive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sqlquery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop",
				"description": "Se llaman los nombres de las tablas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableInfo').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set TableName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@item().DataFileName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set DataPath",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "DataPath",
								"value": {
									"value": "@item().DataLakePath",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetColumnMapping",
							"description": "Se llaman las tres variables creadas y se aplica el SP con la variable como parámetro del SP",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set TableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set DataPath",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_GetColumnMapping]",
									"storedProcedureParameters": {
										"TableName": {
											"type": "String",
											"value": {
												"value": "@variables('TableName')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_sqlquery",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetColumnMapping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@concat('TRUNCATE TABLE ',variables('TableName'))",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(activity('GetColumnMapping').output.firstRow.ColumnMapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_NH",
									"type": "DatasetReference",
									"parameters": {
										"ParamFolderFile": {
											"value": "@concat(variables('DataPath'),'|',variables('FileName'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLMap",
									"type": "DatasetReference",
									"parameters": {
										"ParamTableName": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			},
			"DataPath": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T03:34:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}