pipeline/075ppl_Copy_BasedOnTypeFile.json
{
	"name": "075ppl_Copy_BasedOnTypeFile",
	"properties": {
		"description": "Se copia basado en el tipo de archivo, tomando los tipos iguales de una carpeta y guardandola en otra que contenga solo ese tipo.\nSe usa la funcion 'last' para tomar el valor final una vez se usa 'split' ",
		"activities": [
			{
				"name": "Get Metadata",
				"description": "Toma los valores del archivo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "DS_Types",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Filename",
							"description": "Guarda las variables de Filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filename",
								"value": {
									"value": "@item().Filename",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Filepath",
							"description": "Guarda las variables de Filepath",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filepath",
								"value": {
									"value": "@item().Filepath",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Filepath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@last(split(variables('Filename'),'.'))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "csv",
										"activities": [
											{
												"name": "Copy CSV",
												"description": "Copia solo los tipo CSV.\nSe usa como DS binary, porque sirve para copiar solamente cualquier tipo de dato.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@variables('Filepath')",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@variables('Filename')",
																"type": "Expression"
															},
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_TypeB",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TypesBO",
														"type": "DatasetReference",
														"parameters": {
															"Param_OutFolder": "FileOutput/CSV"
														}
													}
												]
											}
										]
									},
									{
										"value": "json",
										"activities": [
											{
												"name": "Copy JSON",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@variables('Filepath')",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@variables('Filename')",
																"type": "Expression"
															},
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_TypeB",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TypesBO",
														"type": "DatasetReference",
														"parameters": {
															"Param_OutFolder": "FileOutput/JSON"
														}
													}
												]
											}
										]
									},
									{
										"value": "parquet",
										"activities": [
											{
												"name": "Copy Parquet",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"wildcardFolderPath": {
																"value": "@variables('Filepath')",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@variables('Filename')",
																"type": "Expression"
															},
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_TypeB",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TypesBO",
														"type": "DatasetReference",
														"parameters": {
															"Param_OutFolder": "FileOutput/Parquet"
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Filename": {
				"type": "String"
			},
			"Filepath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-05T01:50:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}