pipeline/078_pplMultADLSToSQLDB_FileTimeStamp.json
{
	"name": "078_pplMultADLSToSQLDB_FileTimeStamp",
	"properties": {
		"activities": [
			{
				"name": "GetTableDetails",
				"description": "Llama todas las tablas por medio de un query",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM tbl_incremental_load\nWHERE IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sqlquery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop for each table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableDetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy ADLS To SQLDB",
							"description": "Toma los valores del ForEach y los copia en SQLDB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@addToTime(item().FileLastModifiedTimeStamp,1,'Second')",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"wildcardFolderPath": {
											"value": "@item().ADLS_Path",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_MultIncS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_MulIncO",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetMaxLastModified",
							"description": "Funciona para crear otro loop que sirve para iterar entre tablas y tomas los archivos mas recientes en vez de todos.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy ADLS To SQLDB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "078a_ppl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pr_folderpath": {
										"value": "@concat(item().ADLS_Path,'/')",
										"type": "Expression"
									},
									"pr_tablename": {
										"value": "@item().TableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Incremental_Loads"
		},
		"annotations": [],
		"lastPublishTime": "2026-01-05T20:30:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}