pipeline/078a_ppl_ChildPipeline.json
{
	"name": "078a_ppl_ChildPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GetMeta",
						"type": "DatasetReference",
						"parameters": {
							"Folderpath": {
								"value": "@pipeline().parameters.pr_folderpath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get MetaFiles",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_GetMetaFiles",
									"type": "DatasetReference",
									"parameters": {
										"folderpath": {
											"value": "@pipeline().parameters.pr_folderpath",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get MetaFiles",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('Get MetaFiles').output.lastModified,variables('maxdate'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set maxdate",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "maxdate",
											"value": {
												"value": "@activity('Get MetaFiles').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "UpdateMaxTimeStamp",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loop Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_IncrementalLoad]",
					"storedProcedureParameters": {
						"filetimestamp": {
							"value": {
								"value": "@formatDateTime(variables('maxdate'), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@pipeline().parameters.pr_tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ToSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pr_folderpath": {
				"type": "string"
			},
			"pr_tablename": {
				"type": "string"
			}
		},
		"variables": {
			"maxdate": {
				"type": "String",
				"defaultValue": "'2020-01-01'"
			}
		},
		"folder": {
			"name": "Incremental_Loads"
		},
		"annotations": [],
		"lastPublishTime": "2026-01-07T02:30:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}