pipeline/PL-GetMaxLastModifiedTimestamp.json
{
    "name": "PL-GetMaxLastModifiedTimestamp",
    "properties": {
        "activities": [
            {
                "name": "GetFiles",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DS_GetMetadata",
                        "type": "DatasetReference",
                        "parameters": {
                            "folderpath": {
                                "value": "@pipeline().parameters.pl_folderpath",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "LoopInFiles",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetFiles",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetFiles').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Get Metadata File",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "DS_GetMetadataFile",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "folderpath": {
                                            "value": "@pipeline().parameters.pl_folderpath",
                                            "type": "Expression"
                                        },
                                        "filename": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "lastModified"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "If Condition",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata File",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greaterOrEquals(activity('Get Metadata File').output.lastModified, variables('maxdate'))",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Set maxdate",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "maxdate",
                                            "value": {
                                                "value": "@activity('Get Metadata File').output.lastModified",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Updatemaxtimestamp",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "LoopInFiles",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_IncrementalLoad]",
                    "storedProcedureParameters": {
                        "filetimestamp": {
                            "value": {
                                "value": "@formatDateTime(variables('maxdate'), 'yyyy-MM-dd HH:mm:ss')",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "tablename": {
                            "value": {
                                "value": "@pipeline().parameters.pr_tablename",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_ASQL",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "pl_folderpath": {
                "type": "string"
            },
            "pr_tablename": {
                "type": "string"
            }
        },
        "variables": {
            "maxdate": {
                "type": "String",
                "defaultValue": "\"2020-01-01\""
            }
        },
        "folder": {
            "name": "Scenarios/IncrementalLoadFromADLStoSQLdbUsingStaging"
        },
        "annotations": [],
        "lastPublishTime": "2025-06-06T08:22:17Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}